---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Benefits from '../components/Benefits.astro';
import Testimonials from '../components/Testimonials.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Quality Roofing Without The Markup">
  <main>
    <Hero />
    <Stats />
    <Testimonials />
    <HowItWorks />
    <Benefits />
    <ContactForm />
  </main>
</Layout>